// UNIVERSAL VARIABLES
$primary-color: #ff2150;

// BACKGROUNDS
$primary-background-darker: #f0f0f0;
$primary-background: #f7f7f7;
$body-background: #fafafa;
$header-translucent-background: #ffffff78;
$white-background: white;

// COLORS
$mat-muted-icon: #888888;
$text-color: #747474;
$primary-font-color: #3e3e3e;
$alternate-text-color: white;

// BORDERS
$primary-border: #d9d9d9;
$primary-border-dark: darken($primary-border, 15%);
$primary-border-light: #e4e4e4;
$border-darkest: #b6b6b64a;
$secondary-border-dark: #e0e0e078;
$desc-text-color: #585858;

// SHADOWS
$primary-shadow: #12121280;
$primary-shadow-light: #8080802e;
$primary-text-shadow: #ffcad5;
$secondary-text-shadow: #d6d6d6;

//=========================================================
