@import "../../styles/index";

@mixin theme-mixin($light-theme: true) {
  $bg-color: $white-background;
  @if $light-theme != true {
    $bg-color: $dark-primary-bg;
  }
  background-color: $bg-color;

  .icon-list {
    background-color: $bg-color;
  }
  button {
    padding: 10px !important;
  }
}

.theme-container {
  @include theme-mixin($light-theme: true);
}

.dark.theme-container {
  @include theme-mixin($light-theme: false);
}
