<ion-tabs color="dark">
  <ion-tab-bar color="dark" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon color="medium" name="home-outline"></ion-icon>
      <!-- <ion-label translate>Home</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="assets">
      <ion-icon color="danger" name="stats-chart-outline"></ion-icon>
      <!-- <ion-label translate>Assets</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="news">
      <ion-icon color="medium" name="newspaper-outline"></ion-icon>
      <!-- <ion-label translate>News</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon color="medium" name="cog"></ion-icon>
      <!-- <ion-label translate>Settings</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
