<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label translate>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="assets">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label translate>Assets</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label translate>News</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label translate>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
